In [1]:
import pandas as pd

In [12]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [13]:
ufo.shape

(18241, 5)

In [15]:
ufo.drop('Colors Reported',axis=1,inplace=True)# axis =0 row axis ,axis 1 is column axis

In [16]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [18]:
ufo.drop(['City','State'] ,axis=1,inplace=True)

In [19]:
ufo.head()

  Shape Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

In [26]:
# remove row
ufo.drop([0,1],axis=1,inplace=True)

ValueError: labels [0 1] not contained in axis

In [21]:
ufo.head()

  Shape Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

In [22]:
ufo.shape

(18241, 2)